{% extends 'base.html' %}

{% block content %}

<style>
h2,h3{
text-align:center;
}
h3{
text-align:center;
}
#user{
color:green;
}
</style>

<p>
{% if user.is_authenticated %}
<h2> You are logged in as <span id="user">{{user}}</span></h2>
{% endif %}
<ul nav class="nav nav-pills">
	<li class="nav-item">
  <a class="nav-link active" href="{% url 'articles:article_create' %}">Create Post</a>
  </li>
</ul>
  <br>
<h3>Welcome to your personal Blog</h3>



{% if ans %}


{% for i in ans %}
		
<div class="row-sm-50">
  <div class="col-sm-50"> 
<div class="card" style="width: 20rem;">
	{% if i.pic %}	
	<img class="card-img-top" src="{{i.pic.url}}" alt="Card image cap">	
	{% endif %}
 
	<div class="card-body">
		<a class="card-title" href = "{%url 'articles:article_detail' slug=i.slug %}">{{i.title}}</a>
		<p class="card-text">{{i.snippet}}</p>
		<p class="card-text">{{i.time}}</p>
		
		<div class="btn-group" role="group" aria-label="Basic example">
		
    		<a class ="btn btn-primary" href = "{%url 'accounts:article_delete' slug=i.slug %}">Delete Post</a>
    		<a class ="btn btn-primary" href = "{%url 'articles:article_update' slug=i.slug %}">Update Post</a>
    		
    	</div>
    </div>  
  </div>
</div>
{% endfor %}
{% endif %}
</div>


{% endblock %}
