{% extends 'base.html' %}
<title>Insert title here</title>
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% if article %}
<div class="row-sm-20">
  <div class="col-sm-20">
  <div class="card" style="width: 18rem;">
<h2>{{article.title}}</h2>
{% if article.pic %}


<img class="card-img-top" src = '{{article.pic.url }}'>
<p>{{article.body}}</p>
<p>{{article.time}}</p>
<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
</div>

{% endif %}
</div>
</div>
{% endif %}
{% endblock %}