{% load static %}<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<title>Articles</title>

</head>

<body>
<nav>
{% if user.is_authenticated %}
	<form action = "{% url 'accounts:logout_view' %}" method = 'post'>
	
	{% csrf_token %}
	<ul nav class="nav nav-pills">
	  <li class="nav-item">
  <button type='submit' class="btn btn-primary">Logout</button>
  </li>
	</ul>
	</form>
{% else %}
	<li><a href = "{% url 'accounts:login_view' %}">login</a></li>
	<li><a href = "{% url 'accounts:sign_up' %}">sign up</a></li>
{% endif %}
</nav>
{% block content %}
{% endblock %}
</body>
</html>